.Login
{
    text-align: center;
}
.LoginBox 
{
    margin: auto;
    width: 50%;
    
    padding: 10px;
    height: 300px;
}

*{
    box-sizing: border-box;
}

.inText, .inPass {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  .inText:focus, .inPass:focus {
    background-color: #ddd;
    outline: none;
  }